<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androgynousis.messenger">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.androgynousis.messenger.view.activities.Splash"
            android:theme="@style/AppThemeFull">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.androgynousis.messenger.view.activities.SetupPhoneNumber"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.androgynousis.messenger.view.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.Trans" />

        <activity
            android:name="com.androgynousis.messenger.view.activities.Conversation"
            android:theme="@style/AppTheme.Trans" />

    </application>

</manifest>